import meraki
import schedule
import time

# Defina a sua chave de API como uma variável de ambiente
# em vez de defini-la diretamente no código
API_KEY = 'SUA_CHAVE_DE_API'

# Crie uma instância do objeto DashboardAPI
dashboard = meraki.DashboardAPI(API_KEY)

# Substitua 'SEU_NUMERO_DE_SERIE' pelo número de série correto do dispositivo
serial = 'SEU_NUMERO_DE_SERIE'

def reboot_device():
    """
    Função para reiniciar o dispositivo MX.
    """
    response = dashboard.devices.rebootDevice(serial)
    print(response)

# Agende a reinicialização para ocorrer todos os dias às 07:00
schedule.every().day.at('07:00').do(reboot_device)

while True:
    schedule.run_pending()
    time.sleep(1)
